.place__title {
  margin: 0;
  padding: 0;


  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  color: #FFFFFF;
}

@media all and (max-width: 1023px) {
  .place__title {
    font-size: 57px;
    line-height: 56px;
  }
}

@media all and (max-width: 769px) {
  .place__title {
    font-size: 44px;
    line-height: 110%;
  }
}

@media all and (max-width: 544px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media all and (max-width: 425px) {
  .place__title {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}


