.cover__subtitle {
  position: relative;
  max-width: 360px;
  margin: 0 auto 245px auto;
  padding: 0;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;

  z-index: 1;
}

@media all and (max-width: 1024px) {
  .cover__subtitle {
    margin: 0 auto 195px auto;
  }
}

@media all and (max-width: 768px) {
  .cover__subtitle {
    margin: 0 auto 115px auto;
  }
}

@media all and (max-width: 544px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 19px;
    /* or 114% */
  }

}

@media all and (max-width: 425px) {
  .cover__subtitle {
    max-width: 288px;
    margin: 0 auto 33px auto;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
  }
}
