.cover__subtitle {
  max-width: 360px;
  margin: 379px auto 195px auto;
  padding: 0;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;

  z-index: 1;
}

@media all and (min-width : 1280px) {
  .cover__subtitle {
    margin-top: 429px;
  }

}

@media all and (max-width : 896px) {
  .cover__subtitle {
    margin-top: 299px;
  }

}

@media all and (max-width : 656px) {
  .cover__subtitle {
    margin-top: 219px;
  }

}

@media all and (max-width : 544px) {
  .cover__subtitle {
    margin-top: 169px;
    font-size: 16px;
    line-height: 19px;
    /* or 114% */
  }

}

@media all and (max-width : 425px) {
  .cover__subtitle {
    margin-top: 119px;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
  }

}


