.place__url{
  margin: 0;
  padding: 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: 1s;
}

.place__url:hover{
  opacity: .8;
}

@media all and (max-width : 544px) {
  .place__url {
    width: 90%;
    margin: auto;
  }
}
